/* Import Google Font - Roboto 400 */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
